body {
    background-color: black;
    color: yellow;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 30px;
    margin-top: 50px;
}

form {
    margin-top: 30px;
}

input, button {
    padding: 10px;
    margin: 5px;
    font-size: 16px;
}
